<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus"></i> Agregar a
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div *ngFor="let collection of collectionList">
      <button *ngIf="!isBookInCollection(collection.name)" class="dropdown-item" type="button" 
        (click)="addBookToCollection(collection.name)">{{collection.name}}</button>
    </div>
  </div>
</div>